<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" href="/css/errorStyle.css" ></link>
    
</head>

<body>

    <div class="notFound-container">
        <div class="notFound">
            <div class="notFound-404">
                <h1>404</h1>
            </div>
            <h2>Oops! Không thể tìm thấy trang này</h2>
            <p>
                XIN LỖI NHƯNG TRANG BẠN ĐANG TÌM KIẾM KHÔNG TỒN TẠI, ĐÃ BỊ XÓA. TÊN ĐÃ THAY ĐỔI HOẶC KHÔNG CÓ TẠM THỜI

            </p>
            <a href="#" class="_btn">Go to homepage</a>
        </div>
    </div>

</body>

</html>