<!-- footer sction starts -->

<section class="footer">

    <div class="box-container">

        <div class="box logo">
            <img src="/images/icon.png" alt="">
            <div class="address_footer">
                <p style="    color: var(--light-color);font-size: 1.5rem;">[[#{footer.title}]]</p>
                <a><i class="fas fa-map-marker-alt"></i>[[#{footer.address}]]</a>
                <a href="tel:0867709873"><i class="fas fa-phone"></i> 0867709873</a>
                <a href="mailto:thanhndpd04094@fpe.edu.vn"><i class="fas fa-envelope"></i> contact_vgreens@gmail.com
                </a>
            </div>
            <div class="info">
                <a href="https://www.facebook.com/vgreens.fpolydn"> <i class="fab fa-facebook-square"></i></a>
                <a href="#"> <i class="fab fa-facebook-messenger"></i></a>
                <a href="#"> <i class="fab fa-instagram-square"></i></a>
                <a href="#"> <i class="fab fa-youtube"></i></a>





            </div>
        </div>

        <div class="box _link ">
            <h3>[[#{footer.LINK}]]</h3>
            <a href="/vgreens/index">[[#{header.home}]]</a>
            <a href="/vgreens/shop">[[#{header.shop}]]</a>
            <a href="/vgreens/contact">[[#{header.contact}]]</a>
            <a href="#">[[#{header.feedback}]]</a>
            <a href="/vgreens/account/orders/findall">[[#{header.yourOrder}]]</a>
            <a href="/vgreens/account">[[#{header.yourFile}]]</a>
        </div>
        <div class="box _link ">
            <h3>[[#{footer.PRIVACY}]]</h3>
            <a href="/vgreens/chinh-sach-bao-mat">[[#{footer.policy}]]</a>
            <a href="/vgreens/dieu-khoan-su-dung">[[#{footer.termsOfUse}]]</a>
            <a href="/vgreens/hinh-thuc-thanh-toan">[[#{footer.payments}]]</a>
            <a href="/vgreens/chinh-sach-van-chuyen">[[#{footer.shipping}]]</a>
            <a href="/vgreens/chinh-sach-doi-tra">[[#{footer.return}]]</a>
        </div>
        <div class="box _link">
            <h3>[[#{footer.info}]]</h3>
            <ul style="    color: var(--light-color);font-size: 1.5rem;">
                <li class="clearfix" style="list-style-type: none;">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <strong>[[#{footer.timeTitle}]]</strong>
                    <span>
                        [[#{footer.time}]]
                    </span>
                </li>

                <li> [[#{footer.advertisement1}]]</li>
                <li>[[#{footer.advertisement2}]]</li>
                <li>[[#{footer.advertisement3}]]</li>
                <li>[[#{footer.advertisement4}]]</li>
                <li>[[#{footer.advertisement5}]]</li>
            </ul>
        </div>



    </div>

    <div class="credit">copy right @ 2021 by <span>Vgreens</span></div>

</section>


<!-- Button trigger modal -->


<!-- footer section ends -->

<a href="#top" class="fas fa-angle-up" id="scroll-top"> </a>