<div class="row">
    <div class="col-12 title-control">
        <h3>Quản lý Giá cước vận chuyển</h3>
        <button id="_form">Thêm Mới </button>
    </div>
</div>

<div class="row ">

    <div class="col-md-12">

        <div class="control-list">
            <table>
                <thead>
                    <tr>
                        <th>Tìm kiếm</th>
                        <!-- <th>Loại sản phẩm</th>
                        <th>Trạng thái</th> -->
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">
                            <div class="search-box">
                                <i class="fas fa-search"></i>
                                <input type="search" name="keyname" id="namec" ng-model="search"
                                    placeholder="Search...">
                            </div>
                        </td>
                        <!-- <td>
                            <div class="form-group">

                                <select class="form-control" name="" id="">
                                    <option selected>All</option>
                                    <option>Rau củ</option>
                                    <option>Hoa quả</option>
                                    <option>Các loại hạt</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group ">
                                <select class="form-control" name="" id="">
                                    <option selected>All</option>
                                    <option>Enabled</option>
                                    <option>Disabled</option>
                                </select>
                            </div>
                        </td> -->
                        <td class="text-center">
                            <button><i class="fas fa-search"></i> Tìm kiếm</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>

    <div class="col-md-12 mt-4  ">


        <div class="card">
            <!-- <div class="card-header">
                <h5>Thông tin đơn vị</h5>

                <div class="pagination">
                    <div class="form-group">
                        <label for="staticEmail" class=" col-form-label">Hiển thị: </label>
                        <div class="">
                            <select ng-model="pageSize" ng-options="num for num in [8, 16, 32,50]"></select>
                        </div>
                    </div>

                    <div class="page-box">
                        <dir-pagination-controls max-size="8" direction-links="true" boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div>

            </div> -->
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th><input type="checkbox"ng-model="item.selected"
                                ng-click="selectAll()" ></th>
                            <th  class="text-center">Mã</th>
                            <th  class="text-center"><strong>Phần trăm giá vận chuyển</strong>
                            </th>
                            <th  class="text-center">Số ngày dự kiến</th>
                            <th class="text-center">Hỗ trợ</th>
                            <th>Quận/huyện</th>
                            <th>Thành phố</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="item in items|orderBy:sortKey:reverse|filter:search|itemsPerPage:pageSize">
                            <td scope="row">
                                <input type="checkbox" ng-model="item.checked" name="all">
                            </td>
                            <td ng-click="edit(item)"  class="text-center">{{item.id}}</td>
                            <td ng-click="edit(item)"  class="text-center"><strong>{{item.rate}}  &#37;</strong> </td>
                            <td ng-click="edit(item)"  class="text-center">{{item.days}}</td>
                            <td class="switch-container">

                                <div class="switch-button">
                                    <input type="checkbox" ng-checked="{{item.codSupported}}" class="toggle1" id="rounded{{item.id}}">
                                    <label ng-click="selectItem(item)" data-toggle="modal" data-target="#updateAvailable" data-checked="Có"  class="rounded" data-unchecked="Không"></label>
                                </div>

                            </td>
                            <td ng-click="edit(item)" >{{item.state}}</td>
                            <td ng-click="edit(item)" >{{item.country.name}}</td>
                            <td><div class="btn-group droplistbtn ">                                                   
                                <a type="button" class="fas fa-cogs" data-toggle="dropdown">
                                </a>
                                <ul class="dropdown-menu drop_menu" role="menu">
                                   <a ng-click="edit(item)"><i class="far fa-edit"></i>Cập nhập</a>
                                  <a th:if="${#request.isUserInRole('DIRE')}" ng-click="selectItem(item)" data-toggle="modal" data-target="#deleteItem"><i class="far fa-trash-alt"></i>Xóa</a>
                                  
                                </ul>
                              </div>
                            </td>
                        </tr>

                        <tr ng-show="items.length === 0">
                            <td class="text-center" colspan="8">Không có dữ liệu</td>
                        </tr>  

                    </tbody>
                </table>
            </div>
            <div class="card-header">
                <h5></h5>
                <div class="pagination">
                  <div class="form-group ml-5">
                    <label for="staticEmail" class="col-form-label">Hiển thị: </label>
                    <div class="">
                      <div>
                        <select ng-model="pageSize" ng-options="num for num in [10,20,50,100]"></select>
                      </div>
                    </div>
                  </div>
        
                  <div class="page-box">
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links-numbers="true">
                    </dir-pagination-controls>
                  </div>
                </div>
              </div>
        </div>

    </div>

</div>