<div class="modal fade" id="deleteItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Xóa Giá cước</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <span>Bạn có muốn xóa cước vận chuyển ở <b>"{{message}}"</b></span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <input type="hidden" ng-value="clickedItem.id">
            <button type="button" class="btn btn-danger" data-dismiss="modal"
                ng-click="delete(clickedItem)">Xác nhận</button>
        </div>
    </div>
</div>
</div>
<div class="modal fade" id="updateAvailable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cập nhật trạng thái</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <span>Bạn có muốn thay đổi trạng thái hỗ trợ <b>"{{message}}"?</b></span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <input type="hidden" ng-value="clickedItem.id">
            <button type="button" class="btn btn-danger" data-dismiss="modal"
                ng-click="updateCodSupported(clickedItem)">Xác nhận</button>
        </div>
    </div>
</div>
</div>