<div class="row mt-2">
    <div class="col-md-12">


        <div class="card">
            <div class="card-header">
                <h5>Thêm mới bài viết</h5>

                <button id="_list">Danh sách bài viết</button>
            </div>

            <form action="" method="post" name="frmAddPost" novalidate>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- <div class="form-group">
                                <label for="id">Mã sản phẩm</label>
                                <input type="text"  ng-disabled="isShow" ng-model="form.id" class="form-control" name="id"
                                    id="id" aria-describedby="helpId" placeholder="">
                                <small id="helpId" class="form-text text-muted">Help
                                    text</small>
                            </div> -->
                            <div class="form-group">
                                <label for="name">Tiêu đề bài viết</label>
                                <input type="text" class="form-control" ng-model="form.post_title" name="post_title" id="post_title"
                                    ng-required=true aria-describedby="helpId" 
                                    ng-minlength="2" >
                                <small id="helpId" ng-show="frmAddPost.post_title.$error.required"
                                    class="form-text text-muted">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                    Vui lòng nhập tiêu đề bài viết</small>
<!--                                
                                <small id="helpId" ng-show="frmAddProduct.name.$error.minlength"
                                    class="form-text text-muted">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                    Tên sản phẩm tối thiểu 2 kí tự</small> -->
                            </div>
                            <div class="form-group">
                                <label for="">Đường dẫn bài viết</label>
                                <input type="text" class="form-control" ng-model="form.post_url" name="post_url" id="post_url"
                                ng-required=true aria-describedby="helpId" 
                                ng-minlength="2" ng-maxlength="100">
                                <small id="helpId" ng-show="frmAddPost.post_url.$invalid"
                                class="form-text text-muted">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                Vui lòng nhập đường dẫn tới bài viết</small>
                            </div>
                            <div class="form-group">
                                <label for="createDate">Ngày thêm</label>
                                <input type="date" class="form-control" disabled ng-model="form.created_time"
                                    name="created_time" id="created_time" aria-describedby="helpId" placeholder="" required>
                                <span ng-show="frmAddPost.created_time.$invalid" class="has-error font-italic">Vui lòng điền ngày
                                        thêm
                                    </span>
                            </div>

                            <div class="form-group">
                                <label for="">Số người đã xem</label>
                                <input type="text" class="form-control" ng-model="form.post_view" name="post_view" id="post_view"
                                ng-required=true aria-describedby="helpId" 
                               >
                                <small id="helpId" ng-show="frmAddPost.post_view.$invalid"
                                class="form-text text-muted">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                Vui lòng nhập số lượt xem của bài viết</small>
                            </div>
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group input-image">
                                <label for="image" ng-if="!form.post_image.startsWith('https')">
                                    <img ng-show="form.img == null" src="/images/no_image.png" alt="">
                                    <img ng-show="form.img != null " ng-src="{{'/upload/imageTemp/' + imageTemp}}"
                                        alt="">

                                </label>
                                <label for="image" ng-if="form.post_image.startsWith('https')">
                                    <img ng-show="form.img == null" ng-src="{{form.post_image}}" alt="">
                                    <img ng-show="form.img != null " ng-src="{{'/upload/imageTemp/' + imageTemp}}"
                                        alt="">
                                </label>
                                <input type="file" class="form-control-file" name="image" id="image" placeholder=""
                                    onchange="angular.element(this).scope().imageChanged(this.files)">
                            </div>

                            <!-- 
                             <div class="form-group">
                              <label for="">Lô hàng </label>
                              <select class="form-control" ng-model="form.consignment.id" required name="consignmentId" id="consignmentId">
                                <option value="" selected>Chọn lô hàng...</option>
                                <option ng-repeat="item in consignments" required ng-value="item.id">{{item.name}}</option>
                              </select>
                              <small ng-show="frmAddProduct.consignmentId.$invalid" class="form-text text-muted ">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Vui lòng chọn lô hàng
                            </small>
                            </div> -->
                            <div class="form-row">
                                <div class="col-md-12">
                                    <label for=""><strong>Mô tả bài viết ngắn gọn:</strong></label>
                                    <input type="text" class="form-control" ng-model="form.post_note" name="post_note" id="post_note"
                                    ng-required=true aria-describedby="helpId" 
                                    >
                                    <small id="helpId" ng-show="frmAddPost.post_note.$invalid"
                                    class="form-text text-muted">
                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                    Vui lòng nhập mô tả ngắn gọn của bài viết</small>
                                </div>
                                <!-- <div class="col-md-8">
                                    <input type="text" readonly id="consignmentName" class="form-control"
                                        placeholder="Lô hàng...">
                                    <input type="hidden" id="consignmentId" class="form-control"
                                        placeholder="Lô hàng...">
                                </div>

                                <div class="col-md-4">
                                    <button type="button" data-toggle="modal" data-target="#loadConsignment" name=""
                                        id="" class="btn btn_" btn-lg btn-block>Chọn lô hàng</button>
                                </div> -->
                                <!-- <small id="consignmentCheck" class="form-text text-muted "> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>Vui lòng chọn lô hàng
                                </small> -->
                            </div>





                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="">Mô tả sản phẩm</label>
                                <div style="height: fit-content; width: 1000px;" text-angular class="form-control"
                                    id="post_description" name="post_description" required ng-model="form.post_description"
                                    ta-text-editor-class="clearfix border-around container"
                                    ta-html-editor-class="border-around"></div>
                            </div>
                            <small ng-show="frmAddPost.post_description.$invalid" class="form-text text-muted "> <i
                                    class="fa fa-exclamation-circle" aria-hidden="true"></i>Vui lòng điền mô tả
                                sản phẩm
                            </small>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <button type="button" class="btn btn-primary" id="btnCreate" ng-show="!isShow"
                        ng-disabled="frmAddPost.$invalid" ng-click="create()">Thêm mới</button>
                    <button type="button" class="btn btn-warning" ng-show="isShow" ng-click="update()">Cập nhập</button>
                    <button type="button" class="btn btn-success" ng-click="reset()">Làm mới</button>
                    <deleten type="button" class="btn btn-danger" ng-show="isShow" ng-click="selectItem(form)"
                        data-toggle="modal" data-target="#deleteItem">Xóa</deleten>
                </div>
        </div>
        </form>

    </div>
</div>