<div class="row">
    <div class="col-12 title-control">
        <h3>Quản Lý Quảng Cáo</h3>
        <button id="_form">Thêm Mới </button>
    </div>
</div>

<div class="row ">

    <div class="col-md-12">

        <div class="control-list">
            <table>
                <thead>
                    <tr>
                        <th>Tìm kiếm</th>

                        <!-- <th>Trạng thái</th> -->

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">
                            <div class="search-box">
                                <i class="fas fa-search"></i>
                                <input type="search" name="keyname" id="namec" ng-model="search"
                                    placeholder="Search...">
                            </div>
                        </td>

                        <!-- <td>
                            <div class="form-group ">
                                <select class="form-control" name="" id="" 
                                 onchange="angular.element(this).scope().filterAccountByStatus(this.options[this.selectedIndex].value)">
                                    <option selected value="">Tất cả</option>
                                    <option value="1">Đã kích hoạt</option>
                                    <option value="0">Chưa kích hoạt</option>
                                </select>
                            </div>
                        </td> -->

                    </tr>

                </tbody>
            </table>
        </div>

    </div>

    <div class="col-md-12 mt-4  ">


        <div class="card">
            <!-- <div class="card-header">
                <h5>Thông tin sản phẩm</h5>

              

            </div> -->
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <!-- <th><input type="checkbox" name="" id=""></th> -->
                            <th class="text-center">#.</th>
                            <th>Mã quảng cáo</th>
                            <th ng-click="sort('last_name')">Tiêu đề
                                <i style="display: inline !important;" class="" ng-show="sortKey=='last_name'"
                                    ng-class="{'fas fa-sort-amount-up-alt':reverse,'fas fa-sort-amount-down-alt':!reverse}"></i>
                            </th>
                            <th>Ngày bắt đầu</th>
                            <th>Ngày kết thúc</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="item in items|orderBy:sortKey:reverse|filter:search|itemsPerPage:pageSize">
                            <!-- <td scope="row">
                                <input type="checkbox" name="" ng-attr-id="check-{{item.username}}"
                                    ng-attr-class="checkAccount">
                            </td> -->
                            <td><strong>{{$index +1}}</strong></td>
                            <td ng-click="edit(item)">{{item.id}}</td>
                            <td class="td-product" ng-click="edit(item)">
                                <img ng-show="{{!item.image.startsWith('https')}}" src="/images/no_image.png" alt="">
                                <img ng-show="{{item.image.startsWith('https')}}" ng-src="{{item.image}}" alt="">
                                <div class="product-info">
                                    <div><a href="#">{{item.title}} {{item.title1}}</a></div>
                                    <!-- <span>11027</span> -->
                                </div>
                            </td>
                            <td ng-click="edit(item)">{{item.startDate | date :'dd/MM/yyyy'}}</td>
                            <td ng-click="edit(item)">{{item.endDate | date :'dd/MM/yyyy'}}</td>


                            <td>
                                <a ng-click="edit(item)"><i class="far fa-edit"></i>Cập nhập</a>
                                <!-- <a ng-click="selectItem(item)" data-toggle="modal" data-target="#deleteItem"><i
                                        class="far fa-trash-alt"></i>Xóa</a> -->
                            </td>
                        </tr>

                        <tr ng-show="items.length === 0">
                            <td class="text-center" colspan="5">Không có dữ liệu</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="card-header">
                <h5></h5>
                <div class="pagination">
                    <div class="form-group">
                        <label for="staticEmail" class=" col-form-label">Show: </label>
                        <div class="">
                            <select ng-model="pageSize" ng-options="num for num in [5, 10, 20,100]"></select>
                        </div>
                    </div>

                    <div class="page-box">
                        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>