<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/site/layout/dasboard::dynamic(~{::title},~{::main})}">


<title>Vgreens | [[#{introduce.titleTWeb}]]</title>


<body>

    <main>
        <style>
            p,
            li {
                font-size: initial;
            }

            ul {
                list-style: disc !important;
            }
        </style>
        <br>
        <div class="container">
            <h2 class="text-center"><strong>______[[#{introduce.titleTWeb}]]______</strong></h2><br>
            <p>[[#{introduce.terms1}]]</p>
            <p><em>[[#{introduce.terms2}]]</em>
            </p>
            <p>[[#{introduce.terms3}]]</p>
            <ul>
                <li>[[#{introduce.terms4}]]</li>
                <li>[[#{introduce.terms5}]]</li>
            </ul>
            <h3><strong>[[#{introduce.terms6}]]</strong></h3>
            <p>[[#{introduce.terms7}]]</p>
            <p>[[#{introduce.terms8}]]</p>
            <p>[[#{introduce.terms9}]]</p>
            <h3><strong>[[#{introduce.terms10}]]</strong></h3>
            <p>[[#{introduce.terms11}]]</p>
            <ul>
                <li>[[#{introduce.terms12}]]</li>
                <li>[[#{introduce.terms13}]]</li>
                <li>[[#{introduce.terms14}]]</li>
            </ul>
            <p>[[#{introduce.terms15}]]</p>
            <p>[[#{introduce.terms16}]]</p>
            <h3><strong>[[#{introduce.terms17}]]</strong></h3>
            <p>[[#{introduce.terms18}]]
            </p>
            <p>[[#{introduce.terms19}]]</p>
            <ul>
                <li>[[#{introduce.terms20}]]</li>
                <li>[[#{introduce.terms21}]]</li>
                <li>[[#{introduce.terms22}]]</li>
                <li>[[#{introduce.terms23}]]</li>
            </ul>


        </div>
    </main>
</body>

</html>