<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/site/layout/dasboard::dynamic(~{::title},~{::main})}">


<title>Vgreens | [[#{introduce.titleWebN}]]</title>


<body>

    <main>
        <style>
            p,
            li {
                font-size: initial;
            }

            ul {
                list-style: disc !important;
            }
        </style>
        <br>
        <div class="container">
            <h2 class="text-center"><strong>______[[#{introduce.policy}]]______</strong></h2><br>
            <div>
                <p style="text-align: justify;"><strong>1. [[#{introduce.policyN}]]</strong><br>
                    [[#{introduce.article1}]]</p>

                <p style="text-align: justify;">&nbsp;</p>

                <p style="text-align: justify;"><strong>2. [[#{introduce.collecting}]]</strong><br>
                    [[#{introduce.article2a}]]<br>
                    [[#{introduce.article2b}]]<br>
                    [[#{introduce.article2c}]]<br>
                    [[#{introduce.article2d}]]<br>
                    [[#{introduce.article2e}]]<br>
                </p>

                <p style="text-align: justify;">&nbsp;</p>

                <p style="text-align: justify;"><strong>3. [[#{introduce.takeControl}]]</strong><br>
                    [[#{introduce.article3a}]]<br>
                    [[#{introduce.article3b}]] <br>
                    [[#{introduce.article3c}]]<br>
                    [[#{introduce.article3d}]]</p>

                <p style="text-align: justify;">&nbsp;</p>

                <p style="text-align: justify;"><strong>4. [[#{introduce.noticeFrom}]]</strong><br>
                    [[#{introduce.article4a}]]<br>
                    [[#{introduce.article4b}]]<br>
                    [[#{introduce.article4c}]]</p>

                <p style="text-align: justify;">&nbsp;</p>

                <p style="text-align: justify;"><strong>5. [[#{introduce.whatInfo}]]</strong><br>
                    [[#{introduce.article5a}]]<br>
                    [[#{introduce.article5b}]]<br>
                    [[#{introduce.article5c}]]<br>
                    [[#{introduce.article5d}]]<br>
                    [[#{introduce.article5e}]]<br>
                    [[#{introduce.article5f}]]<br>
                    [[#{introduce.article5g}]]<br>
                    [[#{introduce.article5h}]]</p>

                <p style="text-align: justify;">&nbsp;</p>

                <p style="text-align: justify;"><strong>6. [[#{introduce.teckCook}]]</strong><br>
                    [[#{introduce.article6a}]] <br>
                    [[#{introduce.article6b}]]
                </p>

                <p style="text-align: justify;">&nbsp;</p>

                <p style="text-align: justify;"><strong>7. [[#{introduce.data}]]</strong><br>
                    [[#{introduce.article7a}]]<br>
                    [[#{introduce.article7b}]]</p>

                <p style="text-align: justify;">&nbsp;</p>

                <p style="text-align: justify;"><strong>8. [[#{introduce.changePrivacy}]]</strong><br>
                    [[#{introduce.article8a}]]</p>

                <p style="text-align: justify;">&nbsp;</p>

                <p style="text-align: justify;"><strong>9. [[#{introduce.contactShop}]]</strong><br>
                    [[#{introduce.article9}]]</p>

                <p style="text-align: justify;"><br>
                    &nbsp;</p>
            </div>
        </div>
    </main>
</body>

</html>