<table class="table-order mt-4">
    <thead>
        <tr>
            <!-- <th><input type="checkbox" name="" id=""></th> -->
            <th class="text-center">Mã đơn </th>
            <th ng-click="sortBy('last_name')">Khách hàng 
                <i style="display: inline !important;" class="" ng-show="sortKey=='last_name'"
                    ng-class="{'fas fa-sort-down':reverse,'fas fa-sort-up':!reverse}"></i>
            </th>
            <th>Số điện thoại </th>
            <th  class="text-center" >Ngày mua </th>
            
            <th  class="text-center" >Giảm giá </th>
            <th  class="text-center" >Tổng tiền </th>
            <th>Phương thức Thanh toán </th>
            <!-- <th>Thanh toán</th> -->
            <th></th>
        </tr>
    </thead>
    <tbody ng-repeat="item in orders | filter : search | orderBy:porp:reverse">
        <tr data-toggle="collapse" data-target="#info{{item.id}}" class="accordion-toggle">
            <!-- <td scope="row">
                <input type="checkbox" name="" id="">
            </td> -->
            <td class="text-center">{{item.id}}</td>
            <td class="impotant-td">{{item.first_name + item.last_name}}</td>
            <td class="impotant-td">{{item.phone_number}}</td>
            <td class="text-center">{{item.createDate | date : 'HH:ss dd-MM'}}</td>
            <td class="text-center">{{item.discount | number}} .đ</td>
            <td class="impotant-td text-center" style="color: var(--main-color); font-weight: 500;">{{item.amount | number}}.đ</td>
            <td style="width: 180px;" ng-show="!item.payment_method.startsWith('COD')"><span class="status status-4"><i  class="fab fa-paypal"></i> Đã Thanh Toán</span> </td>
            <td style="width: 180px;" ng-show="item.payment_method.startsWith('COD')" ><span class="status status-0">Thanh toán trực tiếp</span></td>
            
            <td class="text-center"><a data-toggle="modal" data-target="#updateStatusModal" ng-click="edit(item)"><i class="fas fa-dolly-flatbed"></i></a></td>
        </tr>

        <tr>
            <th style="border: 0px !important; padding: 0px !important" colspan="12" class="hiddenRow">
                <div class="accordian-body collapse" id="info{{item.id}}">
                    <table class="table table-striped">
                       

                        <tbody>
                             <tr data-toggle="collapse" class="accordion-toggle "
                                data-target="#demo10">
                                <td  style="padding: .3rem .5rem !important;" ><span>Địa chỉ:</span> {{item.address_line}}, {{item.country}}, {{item.city}} </td>
                                <td  class="text-center"  rowspan="2" style="width: 250px;">
                                    <button class="bnt_default"  data-toggle="modal" data-target="#updateStatusModal" ng-click="edit(item)"></i>Cập nhập</button>
                                </td>
                            </tr>

                            <tr data-toggle="collapse" class="accordion-toggle "
                                data-target="#demo10">
                                <td  style="padding: .3rem .5rem !important;" ><span>Ghi chú:</span> {{item.description}}</td>
                                
                               
                            </tr>
                           



                        </tbody>
                    </table>

                </div>
            </th>
        </tr>

    </tbody>

    <tbody ng-show="orders.length === 0">
        <tr>
            <td class="text-center" colspan="9">
                Không có dữ liệu
            </td>
        </tr>
    </tbody>
</table>