<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/site/layout/dasboard::dynamic(~{::title},~{::main})}">


<title>Greens | Order</title>

<body>

    <main ng-controller="order-ctrl">



        <div class="titlePage">
            <h1>Quản lý đơn hàng</h1>
            <div class="link">
                <a href="#">Trang chủ</a> - <a href="#">Đơn hàng</a>
            </div>
        </div>


        <section class="_order mb-4">

            <ul class="nav tab-order nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#all" role="tab"
                        aria-controls="pills-home" aria-selected="true"><i class="fas fa-list"></i> Tất
                        Cả({{countallorders}})</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#status1" role="tab"
                        aria-controls="pills-status1" aria-selected="false"><i class="far fa-check-circle"></i> Đã xác
                        nhận({{countorderstatus1}})</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#status2" role="tab"
                        aria-controls="pills-status2" aria-selected="false"><i class="fas fa-boxes"></i> Đang lấy
                        hàng({{countorderstatus2}})</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#status3" role="tab"
                        aria-controls="pills-status3" aria-selected="false"><i class="fas fa-truck"></i> Đang giao
                        hàng({{countorderstatus3}})</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#status4" role="tab"
                        aria-controls="pills-status4" aria-selected="false"><i class="fas fa-shopping-bag"></i> Đã nhận
                        hàng({{countorderstatus4}})</a>
                </li>
                <!-- <li class="nav-item" role="presentation">
                  <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#status5" role="tab" aria-controls="pills-status5" aria-selected="false">Đã lấy hàng</a>
                </li> -->
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#status0" role="tab"
                        aria-controls="pills-status0" aria-selected="false"><i class="fas fa-ban"></i> Đã
                        hủy({{countorderstatus5}})</a>
                </li>


            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="row order-container">

                        <div style="overflow-x: auto;" class="col-12 m-auto box  mt-4">
                            <table class="container">
                                <thead>
                                    <tr>
                                        <th style="min-width: 50px;" class="  text-center">Mã đơn</th>
                                        <th class="name">Người mua</th>
                                        <th>Điện thoại</th>
                                        <th class="name  text-center">Ngày mua</th>
                                        <th class="name  text-center">Tổng tiền</th>
                                        <th class="name" style="padding-left: 2rem;">Tình trạng</th>
                                        <th class="name" style="text-align: center;">Thanh toán</th>

                                        <th class="name"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr dir-paginate="orders in items|orderBy:'-createDate'|itemsPerPage:pageSize">
                                        <a href="/vgreens/index">
                                            <td class="text-center">{{orders.id}}</td>
                                            <td>
                                                {{orders.first_name}} {{orders.last_name}}
                                            </td>
                                            <td> {{orders.phone_number}}</td>
                                            <td class="text-center">
                                                {{orders.createDate| date :'dd/MM/yyyy'}}
                                            </td>
                                            <td class="total text-center">{{orders.amount|number}}.đ</td>
                                            <td style=" font-size: 1.5rem;">


                                                <span ng-if="orders.status==0"
                                                    class="td-status td-status-1 waitingstatus"><i
                                                        class="fas fa-circle"></i> Chờ xác nhận</span>
                                                <span ng-if="orders.status==1"
                                                    class="td-status td-status-2 confirmstatus"><i
                                                        class="fas fa-circle"></i> Đã xác nhận</span>
                                                <span ng-if="orders.status==2"
                                                    class="td-status td-status-3 packedstatus"><i
                                                        class="fas fa-circle"></i> Đang lấy hàng</span>
                                                <span ng-if="orders.status==3"
                                                    class="td-status td-status-4 shippingstatus"><i
                                                        class="fas fa-circle"></i> Đang giao hàng</span>
                                                <span ng-if="orders.status==4"
                                                    class="td-status td-status-5 arrivedstatus"><i
                                                        class="fas fa-circle"></i> Đã giao hàng</span>
                                                <span ng-if="orders.status==5"
                                                    class="td-status td-status-6 cancelstatus"><i
                                                        class="fas fa-circle"></i> Đã hủy</span>



                                            </td>
                                            <td><span class="payment_status">{{orders.payment_status}}</span></td>

                                            <td>
                                                <a class="order_detail fas fa-clipboard-list"
                                                    ng-href="/vgreens/orderdetail/{{orders.id}}" title="Xem chi tiết">
                                                    chi
                                                    tiết</a>
                                                <a ng-if="orders.status==0" class="cancel_order fas fa-ban"
                                                    style="background-color: var(--danger);"
                                                    ng-click="selectItem(orders)"
                                                    data-toggle="modal" data-target="#cancelorder"
                                                    
                                                    href="#" title="Hủy đơn">
                                                    hủy
                                                    đơn</a>
                                                <!-- <a  style="color: #fff; background-color: gray; text-transform: lowercase;" title="Hủy đơn">Hủy đơn</a> -->
                                                <a ng-if="orders.status!=0" class="cancel_order fas fa-ban"
                                                    style="background-color: var(--light-color);" title="Hủy đơn"> hủy
                                                    đơn</a>
                                            </td>
                                        </a>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-12 m-auto navigation">
                            <div class="show">
                                <label for="">Xem:</label>
                                <select  ng-model="pageSize" ng-options="num for num in [10, 20, 50,100]" ></select>
                            </div>
                            <div>

                                <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
                                </dir-pagination-controls>

                            </div>


                        </div>



                    </div>
                </div>
                <div class="tab-pane fade" id="status1" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="row order-container">

                        <div style="overflow-x: auto;" class="col-12 m-auto box  mt-4">
                            <table class="container ml-4">
                                <tr>
                                    <th style="min-width: 50px;" class="  text-center">Mã đơn</th>
                                    <th class="name">Người mua</th>
                                    <th>Điện thoại</th>
                                    <th class="name  text-center">Ngày mua</th>
                                    <th class="name  text-center">Tổng tiền</th>
                                    <th class="name" style="padding-left: 2rem;">Tình trạng</th>
                                    <th class="name" style="text-align: center;">Thanh toán</th>

                                    <th class="name"></th>
                                </tr>

                                <tr ng-repeat="orders in orderstatus1">
                                    <td>{{orders.id}}</td>
                                    <td>
                                        {{orders.first_name}} {{orders.last_name}}
                                    </td>
                                    <td> {{orders.phone_number}}</td>
                                    <td>
                                        {{orders.createDate| date :'dd/MM/yyyy'}}
                                    </td>
                                    <td class="total">{{orders.amount|number}}.đ</td>
                                    <td style="text-align: center; font-size: 1.5rem;">


                                        <span ng-if="orders.status==0" class="td-status td-status-1 waitingstatus"><i
                                                class="fas fa-circle"></i> Chờ xác nhận</span>
                                        <span ng-if="orders.status==1" class="td-status td-status-2 confirmstatus"><i
                                                class="fas fa-circle"></i> Đã xác nhận</span>
                                        <span ng-if="orders.status==2" class="td-status td-status-3 packedstatus"><i
                                                class="fas fa-circle"></i> Đang lấy hàng</span>
                                        <span ng-if="orders.status==3" class="td-status td-status-4 shippingstatus"><i
                                                class="fas fa-circle"></i> Đang giao hàng</span>
                                        <span ng-if="orders.status==4" class="td-status td-status-5 arrivedstatus"><i
                                                class="fas fa-circle"></i> Đã giao hàng</span>
                                        <span ng-if="orders.status==5" class="td-status td-status-6 cancelstatus"><i
                                                class="fas fa-circle"></i> Đã hủy</span>



                                    </td>
                                    <td><span class="payment_status">{{orders.payment_status}}</span></td>
                                    <td>
                                        <a class="order_detail fas fa-clipboard-list"
                                            ng-href="/vgreens/orderdetail/{{orders.id}}" title="Xem chi tiết"> chi
                                            tiết</a>
                                        <a ng-if="orders.status==0" class="cancel_order fas fa-ban"
                                            style="background-color: var(--danger);" href="#" title="Hủy đơn"> hủy
                                            đơn</a>
                                        <!-- <a  style="color: #fff; background-color: gray; text-transform: lowercase;" title="Hủy đơn">Hủy đơn</a> -->
                                        <a ng-if="orders.status!=0" class="cancel_order fas fa-ban"
                                            style="background-color: var(--light-color);" title="Hủy đơn"> hủy
                                            đơn</a>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="status2" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="row order-container">

                        <div  style="overflow-x: auto;" class="col-12 m-auto box  mt-4">
                            <table class="container ml-4">
                                <tr>
                                    <th style="min-width: 50px;" class="  text-center">Mã đơn</th>
                                    <th class="name">Người mua</th>
                                    <th>Điện thoại</th>
                                    <th class="name  text-center">Ngày mua</th>
                                    <th class="name  text-center">Tổng tiền</th>
                                    <th class="name" style="padding-left: 2rem;">Tình trạng</th>
                                    <th class="name" style="text-align: center;">Thanh toán</th>

                                    <th class="name"></th>
                                </tr>

                                <tr ng-repeat="orders in orderstatus2">
                                    <td>{{orders.id}}</td>
                                    <td>
                                        {{orders.first_name}} {{orders.last_name}}
                                    </td>
                                    <td> {{orders.phone_number}}</td>
                                    <td>
                                        {{orders.createDate| date :'dd/MM/yyyy'}}
                                    </td>
                                    <td class="total">{{orders.amount|number}}.đ</td>
                                    <td style="text-align: center; font-size: 1.5rem;">


                                        <span ng-if="orders.status==0" class="td-status td-status-1 waitingstatus"><i
                                                class="fas fa-circle"></i> Chờ xác nhận</span>
                                        <span ng-if="orders.status==1" class="td-status td-status-2 confirmstatus"><i
                                                class="fas fa-circle"></i> Đã xác nhận</span>
                                        <span ng-if="orders.status==2" class="td-status td-status-3 packedstatus"><i
                                                class="fas fa-circle"></i> Đang lấy hàng</span>
                                        <span ng-if="orders.status==3" class="td-status td-status-4 shippingstatus"><i
                                                class="fas fa-circle"></i> Đang giao hàng</span>
                                        <span ng-if="orders.status==4" class="td-status td-status-5 arrivedstatus"><i
                                                class="fas fa-circle"></i> Đã giao hàng</span>
                                        <span ng-if="orders.status==5" class="td-status td-status-6 cancelstatus"><i
                                                class="fas fa-circle"></i> Đã hủy</span>



                                    </td>
                                    <td><span class="payment_status">{{orders.payment_status}}</span></td>
                                    <td>
                                        <a class="order_detail fas fa-clipboard-list"
                                            ng-href="/vgreens/orderdetail/{{orders.id}}" title="Xem chi tiết"> chi
                                            tiết</a>
                                        <a ng-if="orders.status==0" class="cancel_order fas fa-ban"
                                            style="background-color: var(--danger);" href="#" title="Hủy đơn"> hủy
                                            đơn</a>
                                        <!-- <a  style="color: #fff; background-color: gray; text-transform: lowercase;" title="Hủy đơn">Hủy đơn</a> -->
                                        <a ng-if="orders.status!=0" class="cancel_order fas fa-ban"
                                            style="background-color: var(--light-color);" title="Hủy đơn"> hủy
                                            đơn</a>
                                    </td>
                                </tr>

                            </table>
                        </div>

                     


                    </div>
                </div>
                <div  class="tab-pane fade" id="status3" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="row order-container">

                        <div  style="overflow-x: auto;" class="col-12 m-auto box  mt-4">
                            <table class="container ml-4">
                                <tr>
                                    <th style="min-width: 50px;" class="  text-center">Mã đơn</th>
                                    <th class="name">Người mua</th>
                                    <th>Điện thoại</th>
                                    <th class="name  text-center">Ngày mua</th>
                                    <th class="name  text-center">Tổng tiền</th>
                                    <th class="name" style="padding-left: 2rem;">Tình trạng</th>
                                    <th class="name" style="text-align: center;">Thanh toán</th>

                                    <th class="name"></th>
                                </tr>

                                <tr ng-repeat="orders in orderstatus3">
                                    <td>{{orders.id}}</td>
                                    <td>
                                        {{orders.first_name}} {{orders.last_name}}
                                    </td>
                                    <td> {{orders.phone_number}}</td>
                                    <td>
                                        {{orders.createDate| date :'dd/MM/yyyy'}}
                                    </td>
                                    <td class="total">{{orders.amount|number}}.đ</td>
                                    <td style="text-align: center; font-size: 1.5rem;">



                                        <span ng-if="orders.status==0" class="td-status td-status-1 waitingstatus"><i
                                                class="fas fa-circle"></i> Chờ xác nhận</span>
                                        <span ng-if="orders.status==1" class="td-status td-status-2 confirmstatus"><i
                                                class="fas fa-circle"></i> Đã xác nhận</span>
                                        <span ng-if="orders.status==2" class="td-status td-status-3 packedstatus"><i
                                                class="fas fa-circle"></i> Đang lấy hàng</span>
                                        <span ng-if="orders.status==3" class="td-status td-status-4 shippingstatus"><i
                                                class="fas fa-circle"></i> Đang giao hàng</span>
                                        <span ng-if="orders.status==4" class="td-status td-status-5 arrivedstatus"><i
                                                class="fas fa-circle"></i> Đã giao hàng</span>
                                        <span ng-if="orders.status==5" class="td-status td-status-6 cancelstatus"><i
                                                class="fas fa-circle"></i> Đã hủy</span>



                                    </td>
                                    <td><span class="payment_status">{{orders.payment_status}}</span></td>
                                    <td>
                                        <a class="order_detail fas fa-clipboard-list"
                                            ng-href="/vgreens/orderdetail/{{orders.id}}" title="Xem chi tiết"> chi
                                            tiết</a>
                                        <a ng-if="orders.status==0" class="cancel_order fas fa-ban"  
                                            style="background-color: var(--danger);"
                                           
                                            href="#" title="Hủy đơn"> hủy
                                            đơn</a>
                                        <!-- <a  style="color: #fff; background-color: gray; text-transform: lowercase;" title="Hủy đơn">Hủy đơn</a> -->
                                        <a ng-if="orders.status!=0" class="cancel_order fas fa-ban"
                                            style="background-color: var(--light-color);" title="Hủy đơn"> hủy
                                            đơn</a>
                                    </td>
                                </tr>

                            </table>
                        </div>




                    </div>
                </div>
                <div class="tab-pane fade" id="status4" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="row order-container">

                        <div  style="overflow-x: auto;" class="col-12 m-auto box  mt-4">
                            <table class="container ml-4">
                                <tr>
                                    <th style="min-width: 50px;" class="  text-center">Mã đơn</th>
                                    <th class="name">Người mua</th>
                                    <th>Điện thoại</th>
                                    <th class="name  text-center">Ngày mua</th>
                                    <th class="name  text-center">Tổng tiền</th>
                                    <th class="name" style="padding-left: 2rem;">Tình trạng</th>
                                    <th class="name" style="text-align: center;">Thanh toán</th>

                                    <th class="name"></th>
                                </tr>

                                <tr ng-repeat="orders in orderstatus4">
                                    <td>{{orders.id}}</td>
                                    <td>
                                        {{orders.first_name}} {{orders.last_name}}
                                    </td>
                                    <td> {{orders.phone_number}}</td>
                                    <td>
                                        {{orders.createDate| date :'dd/MM/yyyy'}}
                                    </td>
                                    <td class="total">{{orders.amount|number}}.đ</td>
                                    <td style="text-align: center; font-size: 1.5rem;">



                                        <span ng-if="orders.status==0" class="td-status td-status-1 waitingstatus"><i
                                                class="fas fa-circle"></i> Chờ xác nhận</span>
                                        <span ng-if="orders.status==1" class="td-status td-status-2 confirmstatus"><i
                                                class="fas fa-circle"></i> Đã xác nhận</span>
                                        <span ng-if="orders.status==2" class="td-status td-status-3 packedstatus"><i
                                                class="fas fa-circle"></i> Đang lấy hàng</span>
                                        <span ng-if="orders.status==3" class="td-status td-status-4 shippingstatus"><i
                                                class="fas fa-circle"></i> Đang giao hàng</span>
                                        <span ng-if="orders.status==4" class="td-status td-status-5 arrivedstatus"><i
                                                class="fas fa-circle"></i> Đã giao hàng</span>
                                        <span ng-if="orders.status==5" class="td-status td-status-6 cancelstatus"><i
                                                class="fas fa-circle"></i> Đã hủy</span>



                                    </td>
                                    <td><span class="payment_status">{{orders.payment_status}}</span></td>
                                    <td>
                                        <a class="order_detail fas fa-clipboard-list"
                                            ng-href="/vgreens/orderdetail/{{orders.id}}" title="Xem chi tiết"> chi
                                            tiết</a>
                                        <a ng-if="orders.status==0" class="cancel_order fas fa-ban"
                                            style="background-color: var(--danger);" href="#" title="Hủy đơn"> hủy
                                            đơn</a>
                                        <!-- <a  style="color: #fff; background-color: gray; text-transform: lowercase;" title="Hủy đơn">Hủy đơn</a> -->
                                        <a ng-if="orders.status!=0" class="cancel_order fas fa-ban"
                                            style="background-color: var(--light-color);" title="Hủy đơn"> hủy
                                            đơn</a>
                                    </td>
                                </tr>

                            </table>
                        </div>



                    </div>
                </div>
                <div class="tab-pane fade" id="status5" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
                <div class="tab-pane fade" id="status0" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="row order-container">

                        <div  style="overflow-x: auto;" class="col-12 m-auto box  mt-4">
                            <table class="container ml-4">
                                <tr>
                                    <th style="min-width: 50px;" class="  text-center">Mã đơn</th>
                                    <th class="name">Người mua</th>
                                    <th>Điện thoại</th>
                                    <th class="name  text-center">Ngày mua</th>
                                    <th class="name  text-center">Tổng tiền</th>
                                    <th class="name" style="padding-left: 2rem;">Tình trạng</th>
                                    <th class="name" style="text-align: center;">Thanh toán</th>

                                    <th class="name"></th>
                                </tr>

                                <tr ng-repeat="orders in orderstatus5">
                                    <td>{{orders.id}}</td>
                                    <td>
                                        {{orders.first_name}} {{orders.last_name}}
                                    </td>
                                    <td> {{orders.phone_number}}</td>
                                    <td>
                                        {{orders.createDate| date :'dd/MM/yyyy'}}
                                    </td>
                                    <td class="total">{{orders.amount|number}}.đ</td>
                                    <td style="text-align: center; font-size: 1.5rem;">



                                        <span ng-if="orders.status==0" class="td-status td-status-1 waitingstatus"><i
                                                class="fas fa-circle"></i> Chờ xác nhận</span>
                                        <span ng-if="orders.status==1" class="td-status td-status-2 confirmstatus"><i
                                                class="fas fa-circle"></i> Đã xác nhận</span>
                                        <span ng-if="orders.status==2" class="td-status td-status-3 packedstatus"><i
                                                class="fas fa-circle"></i> Đang lấy hàng</span>
                                        <span ng-if="orders.status==3" class="td-status td-status-4 shippingstatus"><i
                                                class="fas fa-circle"></i> Đang giao hàng</span>
                                        <span ng-if="orders.status==4" class="td-status td-status-5 arrivedstatus"><i
                                                class="fas fa-circle"></i> Đã giao hàng</span>
                                        <span ng-if="orders.status==5" class="td-status td-status-6 cancelstatus"><i
                                                class="fas fa-circle"></i> Đã hủy</span>



                                    </td>
                                    <td><span class="payment_status">{{orders.payment_status}}</span></td>
                                    <td>
                                        <a class="order_detail fas fa-clipboard-list"
                                            ng-href="/vgreens/orderdetail/{{orders.id}}" title="Xem chi tiết"> chi
                                            tiết</a>
                                        <a ng-if="orders.status==0" class="cancel_order fas fa-ban"
                                            style="background-color: var(--danger);" href="#" title="Hủy đơn"> hủy
                                            đơn</a>
                                        <!-- <a  style="color: #fff; background-color: gray; text-transform: lowercase;" title="Hủy đơn">Hủy đơn</a> -->
                                        <a ng-if="orders.status!=0" class="cancel_order fas fa-ban"
                                            style="background-color: var(--light-color);" title="Hủy đơn"> hủy
                                            đơn</a>
                                    </td>
                                </tr>

                            </table>
                        </div>

                      


                    </div>
                </div>
            </div>

            <a href="#" class="_btn">Tiếp tục mua sắm</a>
            <th:block th:replace="@{/site/order/_modal}">

		</th:block>
        </section>

        <!-- <div class="sort row mb-4">
            <div class="sort-box col-8">
                <select name="" id="">
                    <option value="">Sắp xếp theo</option>
                    <option value="">Giá thấp đến cá</option>
                    <option value="">Giá cao đến thấp</option>
                    <option value="">Tên A -> Z</option>
                    <option value="">Tên Z -> A</option>
                    <option value="">Khuyến mãi</option>
                </select>
                <select name="" id="">
                    <option value="">Xem:</option>
                    <option value="">Giá thấp đến cá</option>
                    <option value="">Giá cao đến thấp</option>
                    <option value="">Tên A -> Z</option>
                    <option value="">Tên Z -> A</option>
                    <option value="">Khuyến mãi</option>
                </select>
            </div>


            <div class="search-box col-3 float-right">
                <input type="text">
                <i class="fas fa-search"></i>
            </div>
           
        </div> -->




    </main>

</body>

</html>